<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://futcalendar.web.app">
    <meta property="og:title" content="Calendários de futebol">
    <meta property="og:description" content="Times do Brasil e Europa!">
    <meta property="og:image" content="https://futcalendar.web.app/assets/preview.png">
    <meta property="og:image:width" content="1079">
    <meta property="og:image:height" content="833">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@collbreno">
    <meta name="twitter:url" content="https://futcalendar.web.app">
    <meta name="twitter:title" content="Calendários de futebol">
    <meta name="twitter:description" content="Times do Brasil e Europa!">
    <meta name="twitter:image" content="https://futcalendar.web.app/assets/preview.png">

    <title>Home</title>
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <script defer src="/__/firebase/10.11.1/firebase-app-compat.js"></script>
    <script defer src="/__/firebase/10.11.1/firebase-analytics-compat.js"></script>
    <script defer src="/__/firebase/init.js?useEmulator=false"></script>
</head>
<body>
    <div class="container">
        <h1>Calendários de Competições</h1>
        <ul id="competition-list">
        {% for competition in competition_calendars %}
            <li class="item-card">
                <img class="item-logo" src="{{ competition.image_url }}" alt="{{ competition.name }} Image">
                <h2>{{ competition.name }}</h2>
                <a onclick="logToAnalytics('{{ competition.id }}')" class="calendar-button" href="{{ competition.link }}">
                    <img src="/assets/calendar.svg"/>
                    Salvar
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="container">
        <h1>Calendários de Times e Seleções</h1>
        <ul id="competition-list">
        {% for competition in competitions %}
            <a class="card-link" href="{{ competition.link }}">
                <li class="item-card">
                    <img class="item-logo" src="{{ competition.image_url }}" alt="{{ competition.name }} Image">
                    <h2>{{ competition.name }}</h2>
                    <img class="card-arrow" src="/assets/right-chevron.svg"/>
                </li>
            </a>
        {% endfor %}
        </ul>
    </div>
    <footer>
        <a class="social-media-button" href="https://github.com/collbreno/fut-calendar">
            <img class="social-media-logo" src="/assets/github.svg"/>
        </a>
        <p>Desenvolvido por <a class="social-media-link" href="https://github.com/collbreno">@collbreno</a></p>
    </footer>
    <script>
        function logToAnalytics(competitionId) {
            firebase.analytics().logEvent('calendar_click', { 'competition_id': competitionId })
        }

        document.addEventListener('DOMContentLoaded', function () {
            firebase.analytics();
            try {
                let app = firebase.app();
                let features = [
                    'auth',
                    'database',
                    'firestore',
                    'functions',
                    'messaging',
                    'storage',
                    'analytics',
                    'remoteConfig',
                    'performance',
                ].filter(feature => typeof app[feature] === 'function');
                console.log(`Firebase SDK loaded with ${features.join(', ')}`);
            } catch (e) {
                console.error(e);
            }
        });
    </script>
</body>
</html>
